<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <style type="text/css">
        body{
		color: #fff;
		background: #4c535d;
		font-family: 'Roboto', sans-serif;
	}
    </style>

</head>
<body>

<div layout:fragment="continut" class="container">

    <!--official page-->

    <div th:each="trip: ${trips}">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading" th:text="${trip.tripName}"></h2>
            <p class="lead">

                <!--<a th:href="@{/viewTrip}">View Trip</a>-->
                <form th:action="@{/viewTrip}" method="post">
                    <input type="hidden" name="selectedTripId" th:value="${trip.tripId}" />
                    <input type="submit" class="btn btn-danger" value="View details">
                </form>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" alt="Generic placeholder image"
                    th:attr="src=@{'data:image/jpeg;base64,'+${trip.pictureList[0].getPictureBase64()}}"
                 width="400" height="400">
        </div>
    </div>

    <hr class="featurette-divider">
    </div>
</div>
</body>
</html>